/*
*   new progressItem css sheet
*/

.itemWrap {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.firstLevelWrap {
  display: flex;
  justify-content: flex-start;
  /* margin: 0.08rem auto; */
  margin-top: 0.08rem;
}


.firstCenterIcon {
  width: 0.667rem;
  height: 0.067rem;
  margin-right: 0.25rem;
}

.icon {
  width: 100%;
}

.firstRightContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  font-size: 0.3125rem;
  vertical-align: middle;
}

.firstName {
  font-size: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0;
  line-height: 0.7rem;
}

.itemWrap:first-child .firstName {
  color: #2283e2;
}

.firstContentExtra {
  float: right;
  position: absolute;
  right: 0;
}

.collapse-btn-wrap {
  font-size: 0.2rem;
  width: 100%;
  color: #999999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse-icon {
  margin-left: 1px;
  margin-top: -0.01rem;
}

.subLevel {
  margin-left: 0.32rem;
  border-left: 0.0208rem solid #cccccc;
  padding-left: 0.57rem;
  padding-bottom: 0.01rem;
  min-height: 0.58rem;
  color: #999999;
  font-size: 0.2rem;
}

.subLevelBorderNone {
  border: none;
}

.statusWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.status-desc {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-right: 0.083rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  line-height: 0.2rem;
}

.subLiWrap {
  min-height: 1rem;
}

.subLi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.point {
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 100%;
  background: #ccc;
  z-index: 9;
  transform: translateX(-0.65rem);
}

.subLiText {
  line-height: 0.6rem;
}

@media screen and (min-width: 1100px) {
    .subLiWrap {
        min-height: 0.7rem;
    }
  .collapse-icon {
    transform: scale(0.6);
  }

  .firstLevelWrap {
    margin-left: 5rem;
  }

  .firstCenterIcon {
    margin-top: 0.05rem;
    width: 66px;
  }

  .subLevel {
    margin-left: 5.32rem;
  }

  .statusWrap {
    position: absolute;
    transform: translate(-4.5rem, -0.4rem);
    width: 3.5rem;
    justify-content: space-between;
  }

}

@media screen and (min-width: 750px) and (max-width: 1099px) {
    .subLiWrap{
        min-height: 0.6rem;
    }

  .firstName {
    width: 4rem;
  }

  .firstRightContent {
    width: 60vw;
  }

  .collapse-icon {
    transform: scale(0.5);
  }

  .firstCenterIcon {
    margin-top: 0.13rem;
    max-width: 60px;
  }

  .firstLevelWrap {
    margin-left: 3.53rem;
  }

  .subLevel {
    margin-left: 3.8rem;
  }

  .statusWrap {
    position: absolute;
    transform: translate(-4.3rem, -0.4rem);
    width: 3.2rem;
    justify-content: space-between;
  }
}


@media screen and (max-width: 749px) {
  .firstRightContent {
    width: 50vw;
  }

  .collapse-icon {
    transform: scale(0.4);
  }

  .day {
    display: none;
  }
}
